.header_top{
    padding: 10px;
    height: 50px;
    border: 1px solid #333;
    background: black;
}
.header_top li{
    display: inline-block;
    color: white;
    font-family: 'Sacramento', cursive;
}
.title{
    color: white;
    font-size:200%;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.header_bottom{
    height: 10px;
    border: 1px solid #333;
    background: darkslategray;
}
